<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# My Jupyter Notebook on IBM Watson Studio

Create a markdown cell with the title of the notebook. (1 pt)

*Leonardo Pessoa* 

Analyst

I am interested in data science because it is the future!

Create a markdown cell for an introduction. (1 pt)

Create a markdown cell to list data science languages. (3 pts)

1. Python
2. R
3. SQL

Create a markdown cell to list data science libraries. (3 pts)

- scikit learn
- numpy
- pandas
- scipy

Create a markdown cell with a table of Data Science tools. (3 pts)

| Tool | Owner |
| ----------- | ----------- |
| Watson Studio | IBM |
| Data Refinery | IBM |
| SPSS Statistics | IBM |

Create a markdown cell introducing arithmetic expression examples. (1 pt)

It is easy to perform math operations in jupyter. The next cells will perform adition and multiplication

Create a code cell to multiply and add numbers.(2 pts)

In [3]:
a1=1
a2=2
m1=3
result=(a1+a2)*3
result

9

Create a code cell to convert minutes to hours. (2 pts)

In [5]:
m=30
h=m/60
h

0.5

Insert a markdown cell to list Objectives.

- Create a markdown cell with the title of the notebook. (1 pt)
- Create a markdown cell for an introduction. (1 pt)
- Create a markdown cell to list data science languages. (3 pts)
- Create a markdown cell to list data science libraries. (3 pts)
- Create a markdown cell with a table of Data Science tools. (3 pts)
- Create a markdown cell introducing arithmetic expression examples. (1 pt)
- Create a code cell to multiply and add numbers.(2 pts)
- Create a code cell to convert minutes to hours. (2 pts)
- Insert a markdown cell to list Objectives. (3 pts)
- Create a markdown cell to indicate the Authorâ€™s name. (2 pts)
- Share your notebook through GitHub (3 pts)
- Take a screenshot of the first page of the notebook. (1 pt)

*Leonardo Pessoa* 

Analyst